body {
    background-image: url("../img/fondo.jpg");
    background-size: cover;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

  }
  
  h1 {
    text-align: center;
    background-color: red;
    text-align: center;
  }
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .catalogo {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cuadro {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .cuadro img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .cuadro h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .cuadro p {
    font-size: 14px;
  }
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
  }
  
  .cuadro img {
    max-width: 100%;
    max-height: 100%;
  }
  footer{
    background-image: url();
  }
#contactoWhatsapp{
    width: 64px;
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  